#box{
    width: 100%;
    header{
        width: 100%;
        height: 640px;
        background: url(../img/1.jpg) no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        position: relative;
        nav{
            width: 1150px;
            margin: 0 auto;
            padding-top: 30px;
            #nav_left{
                width: 277px;
                padding-left: 30px;
              
                height: 64px;
                float: left;
                .nav_log{
                    display: inline-block;
                    width: 108px;
                    height: 53px;
                    padding-right: 10px;
                    margin-top: 11px;
                    background: url(../img/28.png) no-repeat -18px -377px;
                }
                .address{
                    display: inline-block;
                    width: 60px;
                    height: 28px;
                    background: rgba(0,0,0,0.5);
                    line-height: 28px;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                    border-radius: 15px;
                    margin-top: 26px;
                    span{
                        padding-right: 3px;
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        background: url(../img/28.png) no-repeat -185px -17px;
                        
                    }
    
                }
            }
            #nav_right{
                width: 700px;
                position: relative;
                .entry{
                    position: absolute;
                    height: 19px;
                    top: 0;
                    right: 0;
                    span{
                        display: inline-block;
                        width: 19px;
                        height: 19px;
                        background: url(../img/28.png) no-repeat -203px -17px;
                    }
                    a{
                        color: #FFFFFF;
                        font-size: 12px;
                        margin-left: 7px;
                        margin-top: 4px;
                    }
                }
                .entry_ul{
                    width: 680px;
                    margin-top: 52px;
                    margin-left: 100px;
                    li{
                    height: 20px;
                    line-height: 20px;
                    margin-left: 17px;
                    }
                    a{
                    color: #fff;
                    font-size: 18px;
                    }
                    .estate_a{
                        padding-left: 16px;
                        background: url(../img/lvju.png) no-repeat left center;
                        background-size: 18% 100%;
                    }
                    .spot{
                        display: inline-block;
                        width: 8px;
                        height: 20px;
                        background: url(../img/28.png) no-repeat -225px -14px;
                    }
                }
            }
        }
        .header_h2{
            margin-top: 109px;
            text-align: center;
            font-size: 67px;
            color: #fff;   
        }
        .header_h3{
            font-size: 22px;
            color: #fff;
            text-align: center;   
        }
        #find_room{
            width: 780px;
            margin: 40px auto;
            position: relative;
                ul{
                width: 330px;
//              margin-left: 268px;
                li{
                    margin-left: 15px;
                }
                li:first-child{
                    margin-left: 0;
                }
                a{
                    color: #FFFFFF;
                    font-size: 12px;
                }
            }
            span{
                position: absolute;
                display: inline-block;
                width: 17px;
                height: 10px;
                top: 34px;
                left: 19px;
                background:url(../img/28.png) no-repeat -252px -19px;
            }
            input{
                margin-top: 20px;
                height: 55px;
                border: 0;
            }
            .input1{
                width: 626px;
                height: 53px;
                padding-left: 19px;
            }
            .input2{
                width: 130px;
                background: #00ae66;
                color: #FFFFFF;
            }
        }
        #statement{
            width: 100%;
            height: 94px;
            background: #000;
            position: absolute;
            bottom: 0;
            left: 0;
           .statement_box{
               width: 1150px;
               margin: 0 auto;
               padding-top: 39px;
                .statement_Solemnly{
                    display: inline-block;
                    color: #8386b5;
                    font-size: 12px;
                    padding-right: 20px;
                }
                .statement_Guarantee{
                    display: inline-block;
                    color: #8386b5;
                    font-size: 12px;
                }
                a:hover{
                    color: #fff;
                }
            }
        }
    }
    section{
        width: 100%;
        #img_find_room{
            width: 1150px;
            padding-top: 40px;
            margin: 0 auto;
            ul{
                width: 1150px;
                li{
                    width: 25%;
                    height: 160px;
                    text-align: center;
                    a{
                        display: inline-block;
                        width: 100%;
                        position: relative;
                        top: 0;
                        left: 0;
                        img{
                           width: 76px;
                           height: 65px;
                           margin-top: 10px;
                       }
                       span{
                           font-size: 18px;
                           display: inline-block;
                           width: 100%;
                           text-align: center;
                           position: absolute;
                           top: 83px;
                           left: 0;
                       }
                       p{
                           margin: 0 auto;
                           width: 100%;
                           text-align: center;
                           font-size: 14px;
                           color: #b0b3b4;
                           position: absolute;
                           top: 110px;
                           left: 0;
                       }
                    }
                }
            }
        }
        .app_box{
            width: 100%;
            height: 523px;
            background: url(../img/9.jpg) no-repeat;
            background-size: 100% 100%;
            .app_content{
                width: 1150px;
                padding-top: 84px;
                margin: 0 auto;
                position: relative;
                .titles{
                    width: 264px;
                    height: 119px;
                    background: url(../img/28.png) no-repeat -447px -379px;
                }
                p{
                    width: 469px;
                    height: 62px;
                    padding-top: 25px;
                    padding-bottom: 39px;
                    font-size: 14px;
                }
                .app_img{
                    width: 135px;
                    height: 100px;
                    .iphone{
                        display: inline-block;
                        width: 135px;
                        height: 45px;
                        margin-bottom: 6px;
                        background: url(../img/28.png) no-repeat -20px -139px;
                    }
                     .android{
                        display: inline-block;
                        width: 135px;
                        height: 45px;
                        background: url(../img/28.png) no-repeat -20px -197px;
                    }
                }
                .qr-code{
                    position: absolute;
                    top: 329px;
                    left: 148px;
                }
            }
        }
        .new-house{
            width: 100%;
            .new-word{
                width: 1150px;
                margin: 0 auto;
                padding-top: 45px;
                .house_p{
                    font-size: 30px;
                    b{
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                .house_span{
                    font-size: 14px;
                    color: #888888;
                    margin-top: 6px;
                }
                .house_a{
                    font-size: 14px;
                    color: #394043;
                }
            }
            .new_img{
                width: 1150px;
                margin: 0 auto;
                padding-top: 40px;
                padding-bottom: 60px;
                .new_ul{
                    width: 100%;
                    li{
                        position: relative;
                        width: 350px;
                        height: 260px;
                        margin-left: 50px;
                        a{
                            display: inline-block;
                            overflow: hidden;
                            img{
                                width: 350px;
                                height: 260px;
                            }
                            img:hover{
                                transform: scale(1.3);
                                transition: 1s all ease; 
                            }
                        }
                        p{
                            position: absolute;
                            width: 100%;
                            text-align: center;
                            font-size: 26px;
                            top: 100px;
                            left: 0;
                            color: #fff;
                        }
                        i{
                            position: absolute;
                            width: 100%;
                            font-size: 18px;
                            text-align: center;
                            color: #fff;
                            top: 130px;
                            left: 0;
                        }
                    }
                    li:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .two_room{
            width: 100%;
            .tworoom_word{
                width: 1150px;
                margin: 0 auto;
                padding-top: 45px;
                .tworoom_p{
                    font-size: 30px;
                    b{
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                .tworoom_span{
                    font-size: 14px;
                    color: #888888;
                    margin-top: 6px;
                }
                .tworoom_a{
                    font-size: 14px;
                    color: #394043;
                }
            }
            .tworoom_img{
                width: 1150px;
                margin: 0 auto;
                padding-top: 40px;
                .tworoom_ul{
                    width: 100%;
                    li{
                        width: 250px;
                        height: 340px;
                        margin-left: 50px;
                        .img_a{
                            display: inline-block;
                            width: 250px;
                            height: 265px;
                            border: 1px solid #acacae;
                            position: relative;
                            img{
                                width: 250px;
                                height: 192px;
                            }
                            span{
                                display: inline-block;
                                font-size: 17px;
                                padding-left: 16px;
                                margin-top: 10px;
                            }
                            b{
                                display: inline-block;
                                font-size: 12px;
                                color: #999fa8;
                                padding-left: 16px;
                                margin-top: 16px;
                            }
                            i{
                                position: absolute;
                                top: 150px;
                                left: 0;
                                display: inline-block;
                                width: 65px;
                                height: 30px;
                                background: #394043;
                                line-height: 30px;
                                text-align: center;
                                color: #FFFFFF;
                                font-weight: bold;
                                font-size: 18px;
                            }
                        }
                        .groom_a{
                            display: inline-block;
                            margin-top: 16px;
                            color: #acacae;
                        }
                    }
                    li:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .real_house{
            width: 100%;
            height: 240px;
            background: url(../img/15.jpg) no-repeat;
            background-size: 100% 100%;
            .real_content{
                width: 1150px;
                margin: 0 auto;
                padding-top: 60px;
                position: relative;
                .real_left{
                    width: 600px;
                    p{
                        font-size: 50px;
                        color: #FFFFFF;
                        font-weight: bold;
                        line-height: 50px;
                    }
                    h2{
                        font-size: 50px;
                        line-height: 50px;
                        color: #fff;
                        font-weight: 100;
                        margin-top: 10px;
                    }
                }
                .real_right {
                    width: 550px;
                    p{
                        font-size: 18px;
                        line-height: 18px;
                        color: #fff;
                    }
                    h2{
                        font-size: 18px;
                        line-height: 18px;
                        color: #fff; 
                        margin-top: 10px;
                    }
                    input{
                        margin-top: 24px;
                        width: 100%;
                        height: 44px;
                    }
                    .query_img{
                        position: absolute;
                        top: 144px;
                        right: 10px;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url(../img/28.png) no-repeat -408px -20px;
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        height: 426px;
        background: url(../img/14.jpg) no-repeat;
        background-size: 100% 100%;
        .footer_content{
            width: 1150px;
            margin: 0 auto;
            .about_us{
                width: 100%;
                border-bottom: 1px solid #808486;
                .about_us_ul{
                    width: 750px;
                    li{
                        height: 76px;
                        line-height: 76px;
                        margin-left: 14px;
                    }
                    a{
                        color: #fff;
                        font-size: 14px;
                    }
                }
                span{
                    font-size: 14px;
                    display: inline-block;
                    height: 76px;
                    line-height: 76px;
                    color: #7ac998;
                }
            }
            .house_type{
                width: 100%;
                .house_type_ul{
                    width: 1000px;
                    li{
                        margin-top: 10px;
                        margin-right: 10px;
                        a{
                            display: inline-block;
                            padding: 10px;
                            background: #000;
                            color: #888886;
                            font-size: 12px;
                        }
                        .active{
                            background: #394043;
                            color: #fff;
                        }
                    }
                }
            }
            .house_introduce{
                width: 100%;
                padding-bottom: 20px;
                border-bottom: 1px solid #818587;
                ul{
                    display: none;
                    width: 1000px;
                    margin-top: 4px;
                    li{
                        margin-right: 10px;
                        margin-top: 10px;
                    }
                    a{
                        font-size: 12px;
                        color: #818587;
                    }
                }
            }
            .footer_copyright{
                width: 1150px;
                margin: 0 auto;
                p{
                    margin-top: 20px;
                    color: #818587;
                    font-size: 12px;
                }
                a{
                    display: inline-block;
                    height: 20px;
                    line-height: 20px;
                    color: #818587;
                    padding-left: 20px;
                    font-size: 12px;
                    background: url(../img/beian.png) no-repeat left center;
                }
            }
        }
    }
}    